@import "vars";
@import "libs";
@import "fonts";
@import "flex.scss";

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 120%;
}

a {
  text-decoration: none;
  color: #626262;
}

ul {
  list-style: none;
}

.container--wide {
  margin: 0 auto;
  max-width: 1060px;
  width: 100%;
}

.header {
  padding-top: 55px;
  padding-bottom: 80px;
}

.header__logo {
  font-size: 60px;
}

.header__nav-list {
  width: 570px;

  .item {
    .item-link {
      text-transform: uppercase;
    }
  }
}

.content-box {
  margin: 0 auto;
  max-width: 1060px;
  width: 100%;
  text-align: center;

  .content__bg {
    width: 100%;
    height: 100%;
    img {
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: 0;
    }
  }

  .content__bg-name {
    font-family: "Myriad Pro";
    color: rgb(180, 173, 158);
    text-transform: uppercase;
    line-height: 1.2;
    width: 78px;
    height: 11px;
    z-index: 288;
    padding-top: 40px;
    padding-left: 85px;
    padding-bottom: 80px;
  }

  .content__bg-title {
    font-size: 30px;
    padding-bottom: 40px;
    text-transform: uppercase;
  }

  .content__bg-content--1 {
    font-size: 16px;
    width: 900px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
  }
}

.coment-box {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.coment-box__title {
  font-size: 30px;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 15px;
}
.coment-box__item {
  display: flex;
  margin: 0 auto;
  max-width: 1060px;
  width: 100%;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.coment-box__item-left {
  padding-right: 10px;
  img {
    width: 100%;
  }
  .item-left {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: left;
  }
  .item-left__title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .item-left__content {
    padding-right: 10px;
  }
}

.coment-box__item-right {
  padding-left: 10px;
  img {
    width: 100%;
  }
  .item-right {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: left;
  }
  .item-right__title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .item-right__content {
    padding-left: 0px;
  }
}

.coment-box__item-1 {
  margin-top: 80px;
  display: flex;
  margin: 0 auto;
  max-width: 1060px;
  width: 100%;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}

.sign-up {
  background-image: url("../img/sign-up-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 900px;
  width: 100%;
  height: 150px;
  margin: 0 auto;
  margin-top: 60px;
}

.sign-up__title {
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  font-size: 20px;
}

.sigm-up__input {
  position: relative;
  text-align: center;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.coment-box__item-2 {
  display: flex;
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 60px;
}

.blog-input--more {
  button {
    display: flex;
    width: 120px;
    height: 40px;
    font-size: 20px;
    line-height: 18px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-style: 1px solid #000;
    background-color: rgb(233, 241, 239);
    cursor: pointer;
    padding: 5px 5px 5px 15px;
    margin-bottom: 40px;
  }
}

.footer {
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  .footer-privacy {
    padding-right: 200px;
  }

  .footer__nav {
    width: 350px;
    a.item-link {
      font-size: 18px;
      font-weight: 600;
      padding-top: 5px;
      padding-right: 0px;
    }
    img {
      padding-right: 00px;
    }
  }
}

.flex-container {
  display: flex;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 20px;
}

.flex-item {
  display: inline-flex;
  margin-bottom: 40px;
  ul {
    display: inline-block;
  }
  img {
    height: 100px;
    padding: 5px 1px 5px 1px;
  }
}

.btn-group{
   display: flex;
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  text-align: center; 
}

.btn-group button {
    font-size: 20px;
    line-height: 18px;
    background-color: rgb(233, 241, 239); /* Green background */
    // border: 1px solid rgb(128, 134, 128);
    border-style: 1px solid #000;
    color: rgb(22, 20, 20); /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #d0dbd0;
}

@import "media";
